openai
opencv-python
edge_tts
matplotlib
scikit-image
omegaconf
pytorch_lightning
pandas
kornia
qrcode
uiautomation
imageio
imageio-ffmpeg
tensorflow
yacs
pydub
filterpy
facexlib
librosa
face_alignment
pyzbar
redis
zhipuai
opencv-contrib-python
websocket-client
insightface
basiclibrary-py
pymediainfo