openai
opencv-python
edge_tts
matplotlib
scikit-image
omegaconf
pytorch_lightning
pandas
kornia
qrcode
imageio
imageio-ffmpeg
tensorflow
yacs
pydub
filterpy
facexlib
librosa
face_alignment
pyzbar
redis
zhipuai