<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{{appTitle}}</title>
    <!--<link rel="stylesheet" href="https://unpkg.com/element-plus@2.4.4/dist/index.css"/>-->
    <link rel="stylesheet" href="static/assets/index.css" />
    <!--<script src="https://unpkg.com/vue@3.3.12/dist/vue.global.js"></script>-->
    <script src="static/assets/vue.global.js"></script>
    <!--<script src="https://unpkg.com/vue-i18n@9.8.0/dist/vue-i18n.global.js"></script>-->
    <script src="static/assets/vue-i18n.global.js"></script>
    <!--<script src="https://unpkg.com/element-plus@2.4.4/dist/index.full.min.js"></script>-->
    <script src="static/assets/index.full.min.js"></script>
    <!--<script src="https://unpkg.com/@element-plus/icons-vue@2.3.1/dist/index.iife.min.js"></script>-->
    <script src="static/assets/index.iife.min.js"></script>
    <!--<script src="https://unpkg.com/clipboard@2.0.11/dist/clipboard.min.js"></script>-->
    <script src="static/assets/clipboard.min.js"></script>
    <!--<script src="https://unpkg.com/axios@1.6.2/dist/axios.min.js"></script>-->
    <script src="static/assets/axios.min.js"></script>
    <script src="static/assets/fabric.min.js"></script>
    <script src="static/assets/jszip.min.js"></script>
    <script src="static/assets/FileSaver.min.js"></script>
    <!--引入样式-->
    <link rel="stylesheet" href="../extensions/ComfyUI_Lam/static/css/app.css" />
    <link rel="stylesheet" href="static/css/style.css" />
</head>

<body>
    <div id="app" style="display: none;">
        <el-main class="aigc-layout">
            <div class="aigc-head">
                <div class="head-title">
                    <el-image src="{{appLogo}}" class="logo-image">
                        <template #error>
                            <div class="head-title">
                                {{appTitle}}
                            </div>
                        </template>
                    </el-image>
                    <template v-if="'{{appLogo}}'.length>10">
                        | {{appTitle}}
                    </template>
                </div>
                <div class="aigc-head__left-block"></div>
                <div class="aigc-head__right-block" v-if="isShowAdmin()">
                    <el-popover placement="bottom" :width="300" trigger="click">
                        <template #reference>
                            <div id="contact_administrator"
                                class="aigc-head__right-block--qun aigc-head__right-block--commonbtn aigc-head__right-block--hover admin-contact-text">
                                联系管理员 </div>
                        </template>
                        <template #default>
                            <div class="ant-popover-content">
                                <div class="ant-popover-arrow"><span class="ant-popover-arrow-content"></span></div>
                                <div class="ant-popover-inner" role="tooltip">
                                    <div class="ant-popover-inner-content">
                                        <div class="add-soci">
                                            <div class="add-text">扫码添加管理员微信</div><img class="qr-code-img"
                                                src="/lam/getImage?type=wechat&&name=admin_qr_code.jpg">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </template>
                    </el-popover>
                    <div class="aigc-head__right-block--avatarbox">
                        <el-avatar class="aigc-head__right-block--avatar"
                            src="https://himg.bdimg.com/sys/portraith/item/public.1.e8294af1.YF07P1v3sOMXm56wbOMh9w" />
                    </div>
                </div>
            </div>
            <div class="aigc-main">
                <div class="aigc-main__left-content">
                    <div class="aigc-main__left-content--top-wrap">
                        <div class="aigc-main__left-content--top-right step_5 step_7">
                            <div class="aigc-main__left-content--nodata">
                                <el-progress v-if="form.status=='waiting'" type="circle" :percentage="form.percentage"
                                    :status="percenStatus">
                                    <template #default="{ percentage }">
                                        <div class="percentage-value">{{ percentage }}%</div>
                                        <div class="percentage-label">{{percenStatus=='warning'?'等待生成':'生成中'}}</div>
                                    </template>
                                </el-progress>
                                <section v-else-if="form.output.images.length>0" class="aigc-preview">
                                    <el-carousel class="aigc-preview__img preview-carousel" :interval="5000"
                                        arrow="always" :autoplay="false">
                                        <el-carousel-item v-for="(item,index) in form.output.images" :key="index">
                                            <el-image class="full-size" :preview-src-list="[item]"
                                                :preview-teleported="true" :src="item" fit="contain"></el-image>
                                        </el-carousel-item>
                                    </el-carousel>
                                </section>
                                <p v-else>生成预览区</p>
                            </div>
                        </div>
                    </div>
                    <div class="aigc-main__left-content--bottom-wrap step_2_empty">
                        <div class="aigc-container">
                            <div class="aigc-container__formula">
                                <div class="aigc-container__tabs-box">
                                    <div class="aigc-container__sub-tab active-sub-tab">历史记录</div>
                                </div>
                                <div class="aigc-container__recomm-fml" v-infinite-scroll="loadHistory"
                                    :infinite-scroll-disabled="disabled">
                                    <template v-for="(item,index) in historyList">
                                        <div class="item-box step_2 aigc-container__fml-item">
                                            <el-image v-if="item.images&&item.images.length>0" class="cover-img"
                                                :src="item.images[0]" :zoom-rate="1.2" :max-scale="7" :min-scale="0.2"
                                                :preview-src-list="item.images" fit="cover" :preview-teleported="true">
                                                <template #error>
                                                    <div class="el-image__error">
                                                        图片丢失
                                                    </div>
                                                </template>
                                            </el-image>
                                            <el-image v-else-if="item.texts&&item.texts.length>0" class="cover-img"
                                                :src="item.images[0]" :zoom-rate="1.2" :max-scale="7" :min-scale="0.2"
                                                :alt="item.texts[0]" fit="cover" :preview-teleported="true">
                                                <template #error>
                                                    <el-popover placement="top-start" title="预览文本" :width="200"
                                                        trigger="hover" :content="item.texts[0]">
                                                        <template #reference>
                                                            <div class="el-image__error">
                                                                {{item.texts[0]}}
                                                            </div>
                                                        </template>
                                                    </el-popover>
                                                </template>
                                            </el-image>
                                            <div class="bottom text-white">
                                                {{item.command.command}}({{item.images.length}})
                                                <el-popconfirm title="是否应用此参数?"
                                                    @confirm="confirmSetParam(item.command)">
                                                    <template #reference>
                                                        <el-icon>
                                                            <Edit />
                                                        </el-icon>
                                                    </template>
                                                </el-popconfirm>
                                                <el-popconfirm v-if="item.images.length>0" title="是否下载任务图片?"
                                                    @confirm="handleDownload(item.files,item.prompt_id)">
                                                    <template #reference>
                                                        <el-icon>
                                                            <Download />
                                                        </el-icon>
                                                    </template>
                                                </el-popconfirm>
                                            </div>
                                        </div>
                                    </template>
                                </div><!---->
                                <p v-if="loading">Loading...</p>
                                <p v-if="noMore">No more</p>
                            </div><!----><!----><!----><!---->
                        </div>
                    </div>
                </div>
                <div class="aigc-main__right-params">
                    <!--滚动条-->
                    <div class="aigc-layright__top scroll-container">
                        <div class="aigc-top">
                            <el-form ref="form" :model="form" label-width="70px" label-position="top">
                                <el-form-item label="功能选择">
                                    <el-select class="w-100" v-model="activeKey" @change="clickTab(activeKey)"
                                        placeholder="请选择功能">
                                        <template v-for="(value, key, index) in commandList" :key="key">
                                            <el-option :value="key">{{key}}</el-option>
                                        </template>
                                    </el-select>
                                </el-form-item>
                                <el-form-item label="总任务数量">
                                    <el-rate v-model="queue_remaining" :max="11"
                                        :icons="['UserFilled','UserFilled','UserFilled']" :void-icon="'User'"
                                        disabled-void-icon="User" disabled />
                                </el-form-item>
                                <template v-for="(param,paramKey, paramindex) in paramList ">
                                    <div class="aigc-prompt"
                                        v-if="param.type == 'customtext'||paramKey == 'prompt' || paramKey == 'negative'">
                                        <div class="aigc-prompt__head">
                                            <div class="aigc-prompt__head--text">{{param.zhName}}</div>
                                            <div class="aigc-prompt__head--clear" @click="clearValue(param)"> 清除 </div>
                                        </div>
                                        <el-form-item label="" label-width="0px">
                                            <el-input type="textarea" v-model="param.value"
                                                :placeholder="'输入'+param.zhName" rows="6" show-word-limit></el-input>
                                        </el-form-item>
                                    </div>
                                </template>
                                <div class="aigc-advanced">
                                    <div class="aigc-advanced__mid--text bold-medium-text"> 其他参数 </div>
                                    <el-row>
                                        <template v-for="(param,paramKey,paramindex) in paramList ">
                                            <el-col :span="24" v-if="param.options">
                                                <el-form-item :label="param.zhName">
                                                    <el-select v-model="param.value" :placeholder="'请选择'+param.zhName">
                                                        <el-option v-for="(value, key, index) in param.options"
                                                            :key="value" :label="key" :value="value"></el-option>
                                                    </el-select>
                                                </el-form-item>
                                            </el-col>
                                            <el-col :span="24" v-else-if="param.type == 'text'">
                                                <el-form-item :label="param.zhName">
                                                    <el-input v-model="param.value" :placeholder="'请输入'+param.zhName">
                                                    </el-input>
                                                </el-form-item>
                                            </el-col>
                                            <el-col :span="24" v-else-if="param.type == 'seed'">
                                                <el-form-item :label="param.zhName">
                                                    <el-input v-model="param.value" :placeholder="'请输入'+param.zhName">
                                                        <template #append>
                                                            <el-button icon="Refresh" @click="refreshSeed(param)" />
                                                        </template>
                                                    </el-input>
                                                </el-form-item>
                                            </el-col>
                                            <el-col :span="12" v-else-if="param.type == 'image'">
                                                <el-form-item :label="param.zhName">
                                                    <div :class="param.fileList.length>0?'image-view':''">
                                                        <el-upload v-model:file-list="param.fileList" :limit="1" drag
                                                            action="../upload/image" name="image" method="post"
                                                            :data="{'overwrite': true,'type':'input'}"
                                                            list-type="picture-card"
                                                            :on-preview="(val) => handlePictureCardPreview(val, param?.maskKey)"
                                                            :before-upload="beforeAvatarUpload"
                                                            :on-success="(val)=>updateSuccess(val,paramKey)"
                                                            :on-remove="(val) => handleRemove(val, paramKey)">
                                                            <el-icon class="el-icon--upload" :size="80">
                                                                <upload-filled />
                                                            </el-icon>
                                                        </el-upload>
                                                    </div>
                                                </el-form-item>
                                            </el-col>
                                            <el-col :span="24" v-else-if="param.type == 'number'">
                                                <el-form-item :label="param.zhName">
                                                    <el-input-number v-model="param.value" :min="param.min"
                                                        :max="param.max" :step="param?.step"></el-input-number>
                                                </el-form-item>
                                            </el-col>
                                            <el-col :span="24" v-else-if="param.type == 'slider'">
                                                <el-form-item :label="param.zhName">
                                                    <el-slider v-model="param.value" :min="param.min" :max="param.max"
                                                        :step="param?.step"></el-slider>
                                                </el-form-item>
                                            </el-col>
                                            <el-col :span="24" v-else-if="param.type == 'switch'">
                                                <el-form-item :label="param.zhName">
                                                    <el-switch v-model="param.value" :active-value="param.onVal"
                                                        :inactive-value="param.offVal"></el-switch>
                                                </el-form-item>
                                            </el-col>
                                            <el-col :span="24" v-else-if="param.type == 'color'">
                                                <el-form-item :label="param.zhName">
                                                    <el-color-picker v-model="param.value" />
                                                </el-form-item>
                                            </el-col>
                                            <el-col :span="24" v-else-if="param.type == 'checkbox'">
                                                <el-form-item :label="param.zhName">
                                                    <el-checkbox-group v-model="param.value">
                                                        <el-checkbox v-for="(value, key, index) in param.options"
                                                            :label="key" :value="value" :name="paramKey"></el-checkbox>
                                                    </el-checkbox-group>
                                                </el-form-item>
                                            </el-col>
                                            <el-col :span="24" v-else-if="param.type == 'radio'">
                                                <el-form-item :label="param.zhName">
                                                    <el-radio-group v-model="param.value">
                                                        <el-radio v-for="(value, key, index) in param.options"
                                                            :label="key" :value="value"></el-radio>
                                                    </el-radio-group>
                                                </el-form-item>
                                            </el-col>
                                        </template>
                                    </el-row>
                                </div>
                            </el-form>
                        </div>
                    </div>
                    <el-dialog v-model="dialogVisible" :title="maskKey? '遮罩画板':'图片预览'">
                        <div class="mask_edit_btn flex-box" v-if="maskKey">
                            <el-slider v-model="brushSize" :min="5" :max="200" :step="5" class="slider-custom"
                                @change="changeSize"></el-slider>
                            <el-button class="margin-h-10" type="info" @click="clearCanvas">清除画板</el-button>
                            <el-button class="margin-h-10" type="info" @click="saveCanvas">应用遮罩</el-button>
                        </div>
                        <div v-if="maskKey">
                            <canvas id="canvas"></canvas>
                        </div>
                        <div v-else>
                            <img w-full :src="dialogImageUrl" alt="图片预览" class="w-100" />
                        </div>
                    </el-dialog>
                    <el-dialog v-model="authVisible" title="微信扫码关注公众号获取授权码" width="300px" center :show-close="false"
                        :close-on-click-modal="false" :close-on-press-escape="false">
                        <div class="auth-container">
                            <img class="qrcode" :src="window.APP_CONFIG.qrcodeUrl" />
                            <el-input v-model="authCode" placeholder="输入授权码" maxlength="6" class="auth-input">
                                <template #append>
                                    <el-button @click="submitAuth">验证</el-button>
                                </template>
                            </el-input>
                            <div class="auth-message">{{ authMessage }}</div>
                        </div>
                    </el-dialog>
                    <div class="aigc-main__btn-box step_4">
                        <el-button v-if="form.status!='prepare'" :class="'aigc-main__btn-box--merge'"
                            class="btn-gradient full-height" @click="cancelTask" :disabled="!isConnect">
                            <div class="text"><span class="upper">取消任务</span></div>
                        </el-button>
                        <el-button v-else :class="'aigc-main__btn-box--merge'+(form.status!='prepare'?' disable':'')"
                            class="full-height" @click="startTask" :disabled="!isConnect">
                            <div class="text"><span class="upper">立即生成</span></div>
                        </el-button>
                    </div>
                </div>
            </div>
        </el-main>
    </div>
</body>
<script>
    window.APP_CONFIG = {
        openId: '{{openId}}',
        qrcodeUrl: '{{qrcodeUrl}}'
    };
</script>
<script src="static/js/app.js"></script>

</html>