<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{{appTitle}}</title>
    <!--<link rel="stylesheet" href="https://unpkg.com/element-plus@2.4.4/dist/index.css"/>-->
    <link rel="stylesheet" href="static/assets/index.css" />
    <!--<script src="https://unpkg.com/vue@3.3.12/dist/vue.global.js"></script>-->
    <script src="static/assets/vue.global.js"></script>
    <!--<script src="https://unpkg.com/vue-i18n@9.8.0/dist/vue-i18n.global.js"></script>-->
    <script src="static/assets/vue-i18n.global.js"></script>
    <!--<script src="https://unpkg.com/element-plus@2.4.4/dist/index.full.min.js"></script>-->
    <script src="static/assets/index.full.min.js"></script>
    <!--<script src="https://unpkg.com/@element-plus/icons-vue@2.3.1/dist/index.iife.min.js"></script>-->
    <script src="static/assets/index.iife.min.js"></script>
    <!--<script src="https://unpkg.com/clipboard@2.0.11/dist/clipboard.min.js"></script>-->
    <script src="static/assets/clipboard.min.js"></script>
    <!--<script src="https://unpkg.com/axios@1.6.2/dist/axios.min.js"></script>-->
    <script src="static/assets/axios.min.js"></script>
    <script src="static/assets/fabric.min.js"></script>
    <script src="static/assets/jszip.min.js"></script>
    <script src="static/assets/FileSaver.min.js"></script>
    <!--引入样式-->
    <link rel="stylesheet" href="../extensions/ComfyUI_Lam/static/css/app.css" />
    <link rel="stylesheet" href="static/css/pictureBook.css" />
</head>

<body>
    <div id="app" style="display: none;">
        <el-dialog v-model="authDialogVisible" :show-close="false" :close-on-click-modal="false"
            :close-on-press-escape="false" width="300px">
            <div class="auth-dialog-content">
                <div class="auth-title">微信扫码关注公众号获取授权码</div>
                <img class="auth-qrcode" src="{{qrcodeUrl}}" />
                <div class="auth-input-container">
                    <el-input v-model="authCode" placeholder="输入授权码" class="auth-input" maxlength="6" />
                </div>
                <div class="auth-msg">{{authMsg}}</div>
                <div style="margin-top: 15px;">
                    <el-button type="primary" @click="confirmAuth">确认</el-button>
                </div>
            </div>
        </el-dialog>
        <el-main class="aigc-layout">
            <div class="aigc-head">
                <div class="head-title">
                    <el-image src="{{appLogo}}" class="head-title-image">
                        <template #error>
                            <div class="head-title">
                                {{appTitle}}
                            </div>
                        </template>
                    </el-image>
                    <template v-if="'{{appLogo}}'.length>10">
                        | {{appTitle}}
                    </template>
                </div>
                <div class="aigc-head__left-block"></div>
                <div class="aigc-head__right-block" v-if="isShowAdmin()">
                    <el-popover placement="bottom" :width="300" trigger="click">
                        <template #reference>
                            <div id="contact_administrator"
                                class="aigc-head__right-block--qun aigc-head__right-block--commonbtn aigc-head__right-block--hover contact-admin-btn">
                                联系管理员 </div>
                        </template>
                        <template #default>
                            <div class="ant-popover-content">
                                <div class="ant-popover-arrow"><span class="ant-popover-arrow-content"></span></div>
                                <div class="ant-popover-inner" role="tooltip">
                                    <div class="ant-popover-inner-content">
                                        <div class="add-soci">
                                            <div class="add-text">扫码添加管理员微信</div><img class="qr-code-img"
                                                src="/lam/getImage?type=wechat&&name=admin_qr_code.jpg">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </template>
                    </el-popover>
                    <div class="aigc-head__right-block--avatarbox">
                        <el-avatar class="aigc-head__right-block--avatar"
                            src="https://himg.bdimg.com/sys/portraith/item/public.1.e8294af1.YF07P1v3sOMXm56wbOMh9w" />
                    </div>
                </div>
            </div>
            <div class="aigc-tab">
                <template v-for="(value, key, index) in commandList" :key="key">
                    <div :class="'aigc-tab__item'+ (key==activeKey?' active':'')" @click="clickTab(key)">
                        <span>{{key}}</span>
                    </div>
                </template>
            </div>
            <div class="aigc-main">
                <div class="aigc-main__left-content">
                    <el-menu style="height: 30px;" :default-active="activeName" class="el-menu-demo" mode="horizontal"
                        @select="handleClick">
                        <template v-for="(book,bookKey, bookIndex) in bookList " :key="bookKey">
                            <el-menu-item :index="bookKey">{{bookKey}}</el-menu-item>
                        </template>
                    </el-menu>
                    <div class="book-content">
                        <el-form ref="form" :model="bookDetail" label-position="top" label-width="80px">
                            <el-form-item label="故事内容">
                                <el-input type="textarea" :rows="4" v-model="bookDetail.param1"></el-input>
                                <el-button type="primary"
                                    :class="'aigc-main__btn-box--merge'+(form.status!='prepare'?' disable':'')"
                                    :disabled="form.status!='prepare'" @click="updateBookData(1)">重新生成故事</el-button>
                            </el-form-item>
                            <el-form-item label="角色列表">
                                <el-table :data="bookDetail.param2" style="width: 100%">
                                    <el-table-column prop="roleName" label="角色名称" width="100">
                                    </el-table-column>
                                    <el-table-column prop="roleRemark" label="角色说明">
                                        <template #default="scope">
                                            <el-input type="textarea" class="role-remark-input" :rows="2"
                                                v-model="scope.row.roleRemark"></el-input>
                                        </template>
                                    </el-table-column>
                                </el-table>
                                <el-button type="primary"
                                    :class="'aigc-main__btn-box--merge'+(form.status!='prepare'?' disable':'')"
                                    :disabled="form.status!='prepare'" @click="updateBookData(2)">重新生成角色</el-button>
                                <el-button type="primary"
                                    :class="'aigc-main__btn-box--merge'+(form.status!='prepare'?' disable':'')"
                                    :disabled="form.status!='prepare'"
                                    @click="updateBookData(2,undefined,bookDetail.param2)">修改角色</el-button>
                            </el-form-item>
                            <el-form-item label="分镜头列表" class="story-content-item">
                                <el-button type="primary"
                                    :class="'aigc-main__btn-box--merge'+(form.status!='prepare'?' disable':'')"
                                    :disabled="form.status!='prepare'"
                                    @click="updateBookData(3)">重新生成全部分镜头音频图片</el-button>
                                <el-button type="primary"
                                    :class="'aigc-main__btn-box--merge'+(form.status!='prepare'?' disable':'')"
                                    :disabled="form.status!='prepare'" @click="updateBookData(6)">重新生成全部音频</el-button>
                                <el-button type="primary"
                                    :class="'aigc-main__btn-box--merge'+(form.status!='prepare'?' disable':'')"
                                    :disabled="form.status!='prepare'" @click="updateBookData(5)">重新生成全部图片</el-button>
                                <el-table :data="bookDetail.param3" style="width: 100%">
                                    <el-table-column prop="index" label="编号" width="60">
                                        <template #default="scope">
                                            {{scope.$index + 1}}
                                        </template>
                                    </el-table-column>
                                    <el-table-column prop="narrationAudio" label="旁百音频" width="320">
                                        <template #default="scope" v-if="bookDetail.param6">
                                            <template v-if="bookDetail.param6[scope.$index]">
                                                <audio :id="'audio'+scope.$index"
                                                    :src="pathProcess(bookDetail.param6[scope.$index].path)"
                                                    controls="controls">
                                                </audio>
                                                <el-button type="primary"
                                                    :class="'aigc-main__btn-box--merge'+(form.status!='prepare'?' disable':'')"
                                                    :disabled="form.status!='prepare'"
                                                    @click="updateBookData(6,scope.$index)">重新生成音频</el-button>
                                            </template>
                                        </template>
                                    </el-table-column>
                                    <el-table-column prop="narration" label="旁白内容" width="300">
                                        <template #default="scope">
                                            <el-input type="textarea" class="narration-input" :rows="5"
                                                v-model="scope.row.narration"></el-input>
                                        </template>
                                    </el-table-column>
                                    <el-table-column prop="promptImage" label="镜头图片" width="100">
                                        <template #default="scope" v-if="bookDetail.param5">
                                            <template v-if="bookDetail.param5[scope.$index]">
                                                <el-image class="prompt-image" :hide-on-click-modal="true"
                                                    :preview-src-list="pathProcess(bookDetail.param5)" show-progress
                                                    :preview-teleported="true" :initial-index="scope.$index" fit="cover"
                                                    :src="pathProcess(bookDetail.param5[scope.$index])"
                                                    :fit="bookDetail.param5[scope.$index]" />
                                            </template>
                                        </template>
                                    </el-table-column>
                                    <el-table-column prop="prompt" label="镜头提示词">
                                        <template #default="scope">
                                            <el-input type="textarea" class="prompt-input" :rows="5"
                                                v-model="scope.row.prompt"></el-input>
                                        </template>
                                    </el-table-column>
                                    <el-table-column prop="operation" label="操作" width="150">
                                        <template #default="scope">
                                            <el-button type="primary"
                                                :class="'aigc-main__btn-box--merge'+(form.status!='prepare'?' disable':'')"
                                                :disabled="form.status!='prepare'"
                                                @click="updateBookData(3,undefined,bookDetail.param3)">修改提示词</el-button><br>
                                            <el-button type="primary"
                                                :class="'aigc-main__btn-box--merge'+(form.status!='prepare'?' disable':'')"
                                                :disabled="form.status!='prepare'"
                                                @click="updateBookData(5,scope.$index)">重新生成图片</el-button>
                                        </template>
                                    </el-table-column>
                                </el-table>
                            </el-form-item>
                            <el-row>
                                <el-col :span="6">
                                    <el-form-item label="音乐提示词">
                                        <el-input type="textarea" :rows="10" v-model="bookDetail.param4"></el-input>
                                    </el-form-item>
                                </el-col>
                                <el-col :span="6">
                                    <el-form-item label="操作">
                                        <el-button type="primary"
                                            :class="'aigc-main__btn-box--merge'+(form.status!='prepare'?' disable':'')"
                                            :disabled="form.status!='prepare'"
                                            @click="updateBookData(4)">重新生成提示词</el-button>
                                        <el-button type="primary"
                                            :class="'aigc-main__btn-box--merge'+(form.status!='prepare'?' disable':'')"
                                            :disabled="form.status!='prepare'"
                                            @click="updateBookData(4,undefined,bookDetail.param4)">修改提示词</el-button>
                                    </el-form-item>
                                </el-col>
                                <el-col :span="8">
                                    <el-form-item label="背景音乐">
                                        <audio id="audio" :src="pathProcess(bookDetail.param7)"
                                            controls="controls"></audio>
                                        <el-button type="primary"
                                            :class="'aigc-main__btn-box--merge'+(form.status!='prepare'?' disable':'')"
                                            :disabled="form.status!='prepare'"
                                            @click="updateBookData(7)">重新生成音频</el-button>
                                    </el-form-item>
                                </el-col>
                                <el-col :span="4">
                                    <el-form-item label="操作">
                                        <el-button type="primary"
                                            :class="'aigc-main__btn-box--merge'+(form.status!='prepare'?' disable':'')"
                                            :disabled="form.status!='prepare'"
                                            @click="updateBookData(8)">生成剪映草稿</el-button>
                                    </el-form-item>
                                </el-col>
                            </el-row>
                        </el-form>
                    </div>
                </div>
                <div class="aigc-main__right-params">
                    <!--滚动条-->
                    <div class="aigc-layright__top scroll-container">
                        <div class="aigc-top">
                            <el-form ref="form" :model="form" label-width="70px" label-position="top">
                                <el-form-item label="总任务数量">
                                    <el-rate v-model="queue_remaining" :max="11"
                                        :icons="['UserFilled','UserFilled','UserFilled']" :void-icon="'User'"
                                        disabled-void-icon="User" disabled />
                                </el-form-item>
                                <template v-for="(param,paramKey, paramindex) in paramList ">
                                    <div class="aigc-prompt"
                                        v-if="param.type == 'customtext'||paramKey == 'prompt' || paramKey == 'negative'">
                                        <div class="aigc-prompt__head">
                                            <div class="aigc-prompt__head--text">{{param.zhName}}</div>
                                            <div class="aigc-prompt__head--clear" @click="clearValue(param)"> 清除 </div>
                                        </div>
                                        <el-form-item label="" label-width="0px">
                                            <el-input type="textarea" v-model="param.value"
                                                :placeholder="'输入'+param.zhName" rows="6" show-word-limit></el-input>
                                        </el-form-item>
                                    </div>
                                </template>
                                <div class="aigc-advanced">
                                    <div class="aigc-advanced__mid--text mid-text"> 其他参数 </div>
                                    <template v-for="(param,paramKey,paramindex) in paramList ">
                                        <el-form-item :label="param.zhName" v-if="param.options">
                                            <el-select v-model="param.value" :placeholder="'请选择'+param.zhName">
                                                <el-option v-for="(value, key, index) in param.options" :key="value"
                                                    :label="key" :value="value"></el-option>
                                            </el-select>
                                        </el-form-item>
                                        <el-form-item :label="param.zhName" v-else-if="param.type == 'text'">
                                            <el-input v-model="param.value" :placeholder="'请输入'+param.zhName">
                                            </el-input>
                                        </el-form-item>
                                        <el-form-item :label="param.zhName" v-else-if="param.type == 'seed'">
                                            <el-input v-model="param.value" :placeholder="'请输入'+param.zhName">
                                                <template #append>
                                                    <el-button icon="Refresh" @click="refreshSeed(param)" />
                                                </template>
                                            </el-input>
                                        </el-form-item>
                                        <el-form-item :label="param.zhName" v-else-if="param.type == 'image'">
                                            <div :class="param.fileList.length>0?'image-view':''">
                                                <el-upload v-model:file-list="param.fileList" :limit="1" drag
                                                    action="../upload/image" name="image" method="post"
                                                    :data="{'overwrite': true,'type':'input'}" list-type="picture-card"
                                                    :on-preview="(val) => handlePictureCardPreview(val, param?.maskKey)"
                                                    :before-upload="beforeAvatarUpload"
                                                    :on-success="(val)=>updateSuccess(val,paramKey)"
                                                    :on-remove="(val) => handleRemove(val, paramKey)">
                                                    <el-icon class="el-icon--upload"
                                                        :size="80"><upload-filled /></el-icon>
                                                </el-upload>
                                            </div>
                                        </el-form-item>
                                        <el-form-item :label="param.zhName" v-else-if="param.type == 'number'">
                                            <el-input-number v-model="param.value" :min="param.min" :max="param.max"
                                                :step="param?.step"></el-input-number>
                                        </el-form-item>
                                        <el-form-item :label="param.zhName" v-else-if="param.type == 'slider'">
                                            <el-slider v-model="param.value" :min="param.min" :max="param.max"
                                                :step="param?.step"></el-slider>
                                        </el-form-item>
                                        <el-form-item :label="param.zhName" v-else-if="param.type == 'switch'">
                                            <el-switch v-model="param.value" :active-value="param.onVal"
                                                :inactive-value="param.offVal"></el-switch>
                                        </el-form-item>
                                        <el-form-item :label="param.zhName" v-else-if="param.type == 'color'">
                                            <el-color-picker v-model="param.value" />
                                        </el-form-item>
                                        <el-form-item :label="param.zhName" v-else-if="param.type == 'checkbox'">
                                            <el-checkbox-group v-model="param.value">
                                                <el-checkbox v-for="(value, key, index) in param.options" :key="key"
                                                    :label="key" :value="value" :name="paramKey"></el-checkbox>
                                            </el-checkbox-group>
                                        </el-form-item>
                                        <el-form-item :label="param.zhName" v-else-if="param.type == 'radio'">
                                            <el-radio-group v-model="param.value">
                                                <el-radio v-for="(value, key, index) in param.options" :key="key"
                                                    :label="key" :value="value"></el-radio>
                                            </el-radio-group>
                                        </el-form-item>
                                    </template>
                                </div>
                            </el-form>
                        </div>

                    </div>
                    <el-dialog v-model="dialogVisible" :title="maskKey? '遮罩画板':'图片预览'">
                        <div class="mask_edit_btn mask-edit-btn" v-if="maskKey">
                            <el-slider v-model="brushSize" :min="5" :max="200" :step="5" class="brush-slider"
                                @change="changeSize"></el-slider>
                            <el-button class="mask-btn" type="info" @click="clearCanvas">清除画板</el-button>
                            <el-button class="mask-btn" type="info" @click="saveCanvas">应用遮罩</el-button>
                        </div>
                        <div v-if="maskKey">
                            <canvas id="canvas"></canvas>
                        </div>
                        <div v-else>
                            <img w-full :src="dialogImageUrl" alt="图片预览" class="preview-image" />
                        </div>
                    </el-dialog>
                    <div class="aigc-main__btn-box step_4">
                        <!-- <el-button v-if="form.status!='prepare'" :class="'aigc-main__btn-box--merge'" style="height: 100%;background: linear-gradient(to bottom right, rgb(224 224 224), rgb(244 85 85));" 
                            @click="cancelTask" :disabled="!isConnect" >
                            <div class="text"><span class="upper" >取消任务</span></div>
                        </el-button> -->
                        <el-button :class="'aigc-main__btn-box--merge'+(form.status!='prepare'?' disable':'')"
                            style="height: 100%;" @click="startTask" :disabled="!isConnect&&form.status!='prepare'">
                            <div class="text"><span class="upper">立即生成</span></div>
                        </el-button>
                    </div>
                </div>
            </div>
        </el-main>
    </div>
</body>
<script>
    function formatTime(seconds) {
        const days = Math.floor(seconds / (3600 * 24));
        seconds -= days * 3600 * 24;
        const hours = Math.floor(seconds / 3600);
        seconds -= hours * 3600;
        const minutes = Math.floor(seconds / 60);
        seconds -= minutes * 60;

        const formattedDays = days > 0 ? days + ':' : '';
        const formattedHours = hours.toString().padStart(2, '0') + ':';
        const formattedMinutes = minutes.toString().padStart(2, '0') + ':';
        const formattedSeconds = seconds.toString().padStart(2, '0') + '';

        let result = formattedDays + formattedHours + formattedMinutes + formattedSeconds;
        return result;
    }


    function getParams(url) {
        const regex = /[?&]([^=#]+)=([^&#]*)/g;
        const params = {};
        let match;
        while (match = regex.exec(url)) {
            params[decodeURIComponent(match[1])] = decodeURIComponent(match[2]);
        }
        return params;
    }

    let openId = '{{openId}}';

    const app = Vue.createApp({
        data() {
            return {
                commandList: [],
                activeKey: '',
                paramList: [],
                brushSize: 20,
                canvas: null,
                dialogVisible: false,
                dialogImageUrl: '',
                dialogImageName: '',
                maskKey: '',
                historyList: [],
                queue_remaining: 0,
                page_number: 1,
                noMore: false,
                loading: false,
                disabled: false,
                isNotData: false,
                isConnect: false,
                isSuccess: false,
                isDone: false,
                activeName: '',
                bookList: {},
                bookDetail: {

                },
                authDialogVisible: false,
                authCode: '',
                authMsg: '',
                form: {
                    openId: '',
                    command: '',
                    status: "prepare",
                    prompt_id: '',
                    percenStatus: 'warning',
                    percentage: 0,
                    output: { images: [], texts: [] },
                    nodeIds: [],
                    doneNodeIds: [],
                }
            }
        },
        mounted: function () {
            if (openId) {
                this.initMain();
            } else {
                this.authUser();
            }
        },
        watch: {
            loading(newVal, oldVal) {
                this.disabled = (newVal || this.noMore)
            },
            noMore(newVal, oldVal) {
                this.disabled = (newVal || this.loading)
            },
        },
        created() {

        },
        methods: {
            handleClick(bookName) {
                this.activeName = bookName
                this.bookDetailFun(bookName)
                this.confirmSetParam(this.bookList[bookName])
            },
            initMain() {
                this.loadData();
                document.getElementById("app").style.display = "block";
                this.initWebSocket();
                this.getHistorys();
            },
            authUser(msg = '') {
                this.authMsg = msg;
                this.authDialogVisible = true;
            },
            confirmAuth() {
                if (this.authCode.length != 6) {
                    this.authMsg = '验证码长度不正确！';
                    return;
                }
                this.getUserOpenId(this.authCode);
                this.authDialogVisible = false;
            },
            isShowAdmin() {
                if ('pywebview' in window) {
                    if (pywebview.api.isLogin()) {
                        return true;
                    }
                }
                return false;
            },
            initWebSocket() {
                var that = this;
                var websocket = null;
                //var socketId = "ws-" + new Date().getTime();
                // 判断当前浏览器是否支持WebSocket， springboot是项目名
                if ('WebSocket' in window) {
                    var host = window.location.host;
                    websocket = new WebSocket("ws://" + host + '/ws?clientId=' + openId);
                } else {
                    console.error("不支持WebSocket");
                }
                // 连接发生错误的回调方法
                websocket.onerror = function (e) {
                    console.error("WebSocket连接发生错误");
                };
                // 连接成功建立的回调方法
                websocket.onopen = function () {
                    // 获取所有在线用户
                    console.log("WebSocket连接成功");
                    that.isConnect = true;

                }
                // 接收到消息的回调方法
                websocket.onmessage = async function (event) {
                    if (event.data == null || event.data == "" || event.data instanceof Blob) {
                        return;
                    }
                    var messageJson = eval("(" + event.data + ")");
                    if (messageJson['type'] == 'crystools.monitor') {
                        return
                    }
                    console.log('messageJson', messageJson)
                    if (messageJson['type'] == "status") {
                        that.queue_remaining = messageJson['data']['status']['exec_info']['queue_remaining'];
                    } else if (messageJson['type'] == "execution_start") {
                        if (that.form.prompt_id == messageJson['data']['prompt_id']) {
                            that.form.percenStatus = 'success';
                        }
                    } else if (messageJson['type'] == "execution_cached") {
                        if (that.form.prompt_id == messageJson['data']['prompt_id']) {
                            that.form.doneNodeIds = messageJson['data']['nodes'];
                        }
                    } else if (messageJson['type'] == "executing") {
                        if (that.form.prompt_id == messageJson['data']['prompt_id']) {
                            let node = messageJson['data']['node'];
                            if (that.form.executing) {
                                that.form.doneNodeIds.push(that.form.executing);
                            }
                            if (!messageJson['data']['node']) {
                                if (that.isSuccess && that.isDone) {
                                    that.form.status = 'prepare';
                                    that.form.percenStatus = 'warning';
                                    that.form.percentage = 0;
                                    that.form.executing = '';
                                    that.form.doneNodeIds = [];
                                    that.form.nodeIds = [];

                                    that.isSuccess = false
                                    that.isDone = false
                                    setTimeout(() => {
                                        that.page_number = 1;
                                        that.getHistorys();
                                    }, 1000)
                                }
                            } else {
                                that.form.executing = node;
                            }
                        }
                    } else if (messageJson['type'] == 'progress') {
                        if (that.form.prompt_id == messageJson['data']['prompt_id']) {
                            let max = messageJson['data']['max'];
                            let value = messageJson['data']['value'];
                            let node = messageJson['data']['node'];
                            let percentage = 0;
                            if (that.form.executing == node) {
                                percentage = parseFloat(value / max);
                            }
                            that.form.percentage = parseInt((that.form.doneNodeIds.length + percentage) / that.form.nodeIds.length * 100);
                        }
                    } else if (messageJson['type'] == 'execution_success') {
                        if (that.form.prompt_id == messageJson['data']['prompt_id']) {
                            that.isSuccess = true;
                        }
                    } else if (messageJson['type'] == 'executed') {
                        if (that.form.prompt_id == messageJson['data']['prompt_id']) {
                            let node_output = 'output' in messageJson['data'] ? messageJson['data']['output'] : {};
                            let images = [];
                            let texts = [];
                            if ('isDone' in node_output) {
                                that.isDone = node_output.isDone[0];
                            }
                            if ('outputImg' in node_output) {
                                for (let img of node_output?.outputImg) {
                                    let url = '../view?filename=' + img.filename + '&type=' + img.type + '&subfolder=' + img.subfolder + '&rand=' + Math.random();
                                    images.push(url)
                                }
                            } else if ("wechat_text" in node_output) {
                                texts.push(...node_output.wechat_text);
                            }
                            if (images.length > 0 || texts.length > 0) {
                                that.form.output = { images: images, texts: texts };
                            }
                        }
                    }
                }

                // 连接关闭的回调方法
                websocket.onclose = function () {
                    console.error("WebSocket连接关闭");
                    that.openCloseMsg();
                }
            },
            openCloseMsg() {
                var that = this;
                that.isConnect = false;
                ElementPlus.ElMessage({
                    showClose: true,
                    duration: 0,
                    message: '服务器断开连接，关闭消息尝试重连',
                    type: 'error',
                    onClose: () => {
                        that.initWebSocket();
                    }
                })
            },
            updateBookData(dataIndex = undefined, subIndex = undefined, subContent = undefined) {
                let that = this;
                let formData = new FormData();
                formData.append("bookTitle", that.activeName);
                if (dataIndex != undefined) {
                    formData.append("dataIndex", dataIndex);
                }
                if (subIndex != undefined) {
                    formData.append("subIndex", subIndex);
                }
                if (subContent != undefined) {
                    if (dataIndex == 2) {
                        let roleData = {}
                        for (let i = 0; i < subContent.length; i++) {
                            roleData[subContent[i].roleName] = subContent[i].roleRemark;
                        }
                        formData.append("subContent", JSON.stringify(roleData));
                    } else if (dataIndex == 3) {
                        formData.append("subContent", JSON.stringify(subContent));
                    } else {
                        formData.append("subContent", subContent);
                    }
                }
                axios.post('../wechatauth/updateBook', formData)
                    .then(function (response) {
                        if (response.data.success) {
                            if (subContent == undefined) {
                                that.startTask()
                            }
                        } else {
                            that.authUser('授权码校验失败，请先扫码关注获取授权码！');
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                        that.authUser(error);
                    })
            },
            loadData() {
                var that = this;
                axios.get('../wechatauth/getCommands?type=picture-book')
                    .then(function (response) {
                        console.log(response);
                        if (response.status == 200) {
                            that.commandList = response.data;
                            that.clickTab(Object.keys(response.data)[0])
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                        ElementPlus.ElMessage.error(error);
                    })
            },
            pathProcess(path) {
                if (!path) {
                    return '';
                }
                if (path instanceof Array) {
                    return path.map(item => {
                        return this.pathProcess(item)
                    })
                }
                let paths = path.split('\\output\\')
                let dirs = paths[paths.length - 1].split('\\')
                let url = '';
                if (dirs.length > 1) {
                    url = '../view?filename=' + dirs[1] + '&type=output&subfolder=' + dirs[0] + '&rand=' + Math.random();
                } else {
                    url = '../view?filename=' + dirs[0] + '&type=output&subfolder=&rand=' + Math.random();
                }
                return url;
            },
            bookDetailFun(activeName) {
                var that = this;
                axios.get('../wechatauth/getPictureBook/' + activeName)
                    .then(function (response) {
                        console.log(response);
                        if (response.status == 200) {
                            const bookDetail = response.data.data;
                            const indexs = ['2', '3', '5', '6']
                            for (let bookDetailKey in bookDetail) {
                                console.log(bookDetailKey)
                                if (indexs.includes(bookDetailKey)) {
                                    if ("2" === bookDetailKey) {
                                        let roleData = [];
                                        const roles = JSON.parse(bookDetail[bookDetailKey])
                                        for (let roleKey in roles) {
                                            roleData.push({
                                                roleName: roleKey,
                                                roleRemark: roles[roleKey]
                                            })
                                        }
                                        that.bookDetail['param' + bookDetailKey] = roleData
                                    } else {
                                        that.bookDetail['param' + bookDetailKey] = JSON.parse(bookDetail[bookDetailKey])
                                    }
                                } else {
                                    that.bookDetail['param' + bookDetailKey] = bookDetail[bookDetailKey];
                                }
                            }
                            console.log(that.bookDetail)
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                        ElementPlus.ElMessage.error(error);
                    })
            },
            clickTab(key) {
                this.activeKey = key;
                if (this.commandList[key]) {
                    this.paramList = this.commandList[key].params;
                    for (let paramKey in this.paramList) {
                        this.paramList[paramKey]['value'] = this.paramList[paramKey]?.default;
                        if (this.paramList[paramKey].type == 'image') {
                            this.paramList[paramKey]['fileList'] = [];
                        }
                    }
                }
            },
            clearValue(param) {
                param.value = '';
            },
            refreshSeed(param) {
                param.value = Math.floor(Math.random() * 1000000000000000);
            },
            handlePictureCardPreview(uploadFile, maskKey) {
                this.dialogImageUrl = uploadFile.url;
                this.dialogImageName = uploadFile.name;
                this.dialogVisible = true;
                this.maskKey = maskKey;
                if (this.maskKey) {
                    this.initCanvas(uploadFile.url);
                } else {
                    this.canvas = null;
                }
            },
            handleRemove(uploadFile, paramKey) {
                this.paramList[paramKey]['value'] = '';
            },
            beforeAvatarUpload(rawFile) {
                // 判断文件格式不为图片的
                if (rawFile.type !== 'image/png' && rawFile.type !== 'image/jpg' && rawFile.type !== 'image/jpeg') {
                    ElementPlus.ElMessage.error('请上传图片文件!');
                    return false
                }
                // else if (rawFile.size / 1024 / 1024 > 2) {
                //     ElementPlus.ElMessage.error('Avatar picture size can not exceed 2MB!')
                //     return false
                // }
                return true
            },
            updateSuccess(data, paramKey) {
                this.paramList[paramKey]['value'] = data.subfolder ? (data.type + '/' + data.name) : (data.type + '/' + data.subfolder + '/' + data.name)
            },
            changeSize(value) {
                this.canvas.freeDrawingBrush.width = parseInt(value);
            },
            clearCanvas() {
                this.canvas.clear();
                this.initCanvas(this.dialogImageUrl);
            },
            saveCanvas() {
                let that = this;
                // 清除背景图
                that.canvas.backgroundImage = null;
                that.canvas.backgroundColor = 'rgba(0,0,0,0)'
                that.canvas.renderAll();
                that.canvas.lowerCanvasEl.toBlob(function (blob) {
                    let formData = new FormData();
                    formData.append("image", blob, 'mask_' + openId + that.dialogImageName);
                    formData.append("overwrite", "true");
                    formData.append("type", "input");
                    axios.post('../upload/image', formData)
                        .then(function (response) {
                            let data = response.data;
                            data['url'] = '../view?filename=' + data.name + '&type=input&subfolder=&rand=' + Math.random();
                            that.paramList[that.maskKey]['fileList'] = [data];
                            that.paramList[that.maskKey]['value'] = data.subfolder ? (data.type + '/' + data.name) : (data.type + '/' + data.subfolder + '/' + data.name);
                            that.initCanvas(that.dialogImageUrl);
                        })
                        .catch(function (error) {
                            console.log(error);
                            ElementPlus.ElMessage.error(error);
                        })
                }, "image/png");
            },
            initCanvas(backgroundUrl) {
                var that = this;
                fabric.Image.fromURL(backgroundUrl, (img) => {
                    if (that.canvas == null) {
                        that.canvas = new fabric.Canvas("canvas", {
                            backgroundColor: "#FFFFFF",
                            isDrawingMode: true,
                        });
                        let freeDrawingBrush = new fabric.PencilBrush(that.canvas);
                        // Set initial brush settings
                        freeDrawingBrush.width = that.brushSize;
                        freeDrawingBrush.color = '#000000';
                        // Enable free drawing mode on canvas
                        that.canvas.isDrawingMode = true;
                        that.canvas.freeDrawingBrush = freeDrawingBrush;
                    }
                    let parentWidth = document.querySelector(".mask_edit_btn").clientWidth;
                    let bili = img.width / parentWidth;
                    let imgHeight = img.height / bili;
                    that.canvas.setWidth(parentWidth);
                    that.canvas.setHeight(imgHeight);
                    that.canvas.setBackgroundImage(img, that.canvas.renderAll.bind(that.canvas), {
                        scaleX: that.canvas.width / img.width,
                        scaleY: that.canvas.height / img.height,
                    });
                    that.canvas.renderAll();
                });
            },
            getUserOpenId(code) {
                let that = this;
                let formData = new FormData();
                formData.append("code", code);
                axios.post('../wechatauth/getUserOpenId', formData)
                    .then(function (response) {
                        if (response.data.success) {
                            openId = response.data.openId;
                            that.initMain();
                            if ('pywebview' in window) {
                                pywebview.api.setOpenId(openId);
                            }
                        } else {
                            that.authUser('授权码校验失败，请先扫码关注获取授权码！');
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                        that.authUser(error);
                    })
            },
            cancelTask() {
                let that = this;
                let formData = new FormData();
                formData.append("openId", openId);
                formData.append("prompt_id", that.form.prompt_id)
                axios.post('../wechatauth/cancelTask', formData)
                    .then(function (response) {
                        if (response.data.success) {
                            that.form.prompt_id = '';
                            that.form.nodeIds = [];
                            that.form.status = 'prepare';
                            that.form.percenStatus = 'warning';
                            that.form.percentage = 0;
                        } else {
                            ElementPlus.ElMessage.error(response.data.msg);
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                        ElementPlus.ElMessage.error(error);
                    })
            },
            startTask() {
                let that = this;
                if (that.form.status !== 'prepare') {
                    ElementPlus.ElMessage.info('任务<' + that.form.command + '>正在运行，请勿重复操作！')
                    return;
                }
                let formData = new FormData();
                formData.append("openId", openId);
                formData.append("command", this.activeKey);
                formData.append("status", "prepare");
                that.form.openId = openId;
                that.form.command = this.activeKey;
                that.form.status = "prepare";
                for (let paramKey in this.paramList) {
                    if (this.paramList[paramKey]?.value) {
                        formData.append(paramKey, this.paramList[paramKey]?.value);
                    }
                }
                if (this.activeName == this.paramList['bookTitle']?.value) {
                    formData.append('prompt_id', this.bookList[this.activeName].prompt_id);
                }
                axios.post('../wechatauth/addTask', formData)
                    .then(function (response) {
                        console.log(response);
                        if (response.data.success) {
                            that.form.status = 'waiting';
                            that.form.prompt_id = response.data.prompt_id;
                            that.form.nodeIds = response.data.nodeIds;
                        } else {
                            ElementPlus.ElMessage.error(response.data.msg);
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                        ElementPlus.ElMessage.error(error);
                    })
            },
            confirmSetParam(params) {
                let that = this;
                this.clickTab(params.command);
                for (let paramKey in this.paramList) {
                    if (params[paramKey]) {
                        if (typeof params[paramKey] == 'string' && params[paramKey] == 'undefined') {
                            this.paramList[paramKey].value = '';
                        } else if (this.paramList[paramKey].type == 'slider'
                            || this.paramList[paramKey].type == 'number') {
                            this.paramList[paramKey].value = parseFloat(params[paramKey]);
                        } else if (this.paramList[paramKey].type == 'switch') {
                            if (params[paramKey] == 'true') {
                                this.paramList[paramKey].value = true;
                            } else if (params[paramKey] == 'false') {
                                this.paramList[paramKey].value = false;
                            } else {
                                this.paramList[paramKey].value = params[paramKey];
                            }
                        } else {
                            if (this.paramList[paramKey].type == 'image') {
                                let ps = params[paramKey].split('//');
                                let url = '../view?filename=' + ps[1] + '&type=' + ps[0] + '&subfolder=&rand=' + Math.random();
                                //获取文件名称
                                this.paramList[paramKey].fileList = [{ url: url, name: ps[1] }];
                            }
                            this.paramList[paramKey].value = params[paramKey];
                        }
                    }
                }
            },
            async handleDownload(imgs, name) {
                let that = this;
                var zip = new JSZip();
                for (let img of imgs) {
                    let fileName = img.filename;
                    let { data } = await axios({
                        method: 'get',
                        url: img.url,
                        responseType: 'blob',
                    });
                    zip.file(fileName, data);
                }
                zip.generateAsync({ type: 'blob' }).then(function (content) {
                    let url = window.URL.createObjectURL(content);
                    that.downloadFile(url, name);
                });
            },
            downloadFile(url, name) {
                let a = document.createElement('a');
                a.href = url;
                a.download = name;
                a.click();
            },
            loadHistory() {
                let that = this;
                if (this.isNotData) {
                    this.noMore = true;
                    setTimeout(() => {
                        this.noMore = false;
                    }, 1000)
                    return;
                }
                that.page_number += 1;
                that.getHistorys();
            },
            setRunTask(dataStr, prompt_id) {
                let that = this;
                let params = JSON.parse(dataStr)
                this.confirmSetParam(params)
                axios.get('../api/queue')
                    .then(function (response) {
                        let queue_pending = response.data.queue_pending;
                        let queue_running = response.data.queue_running;
                        for (let data of queue_running) {
                            if (data[1] == prompt_id) {
                                that.form.status = 'waiting';
                                that.form.prompt_id = prompt_id;
                                that.form.percenStatus = 'success';
                                that.form.nodeIds = Object.keys(data[2]);
                                return;
                            }
                        }
                        for (let data of queue_pending) {
                            if (data[1] == prompt_id) {
                                that.form.status = 'waiting';
                                that.form.prompt_id = prompt_id;
                                that.form.nodeIds = Object.keys(data[2]);
                                return;
                            }
                        }
                    }).catch(function (error) {
                        console.log(error);
                        ElementPlus.ElMessage.error(error);
                    })

            },
            getHistorys() {
                let that = this;
                that.loading = true;
                axios.get('../wechatauth/getHistorys?typeName=picture-book&openId=' + openId + '&page_number=' + that.page_number)
                    .then(function (response) {
                        console.log(response);
                        if (that.page_number == 1) {
                            that.isNotData = false;
                            that.historyList = [];
                        }
                        let datas = response.data;
                        if (datas.length > 0 && datas[0][5] == 'waiting') {
                            that.setRunTask(datas[0][3], datas[0][4])
                        }
                        for (let res of datas) {
                            let command = JSON.parse(res[3])
                            if (res[5] == 'waiting') {
                                continue
                            } else if (res[5] == 'wcomplete') {
                                command['status'] = 'wcomplete'
                                if (!command['bookTitle']) {
                                    continue
                                }
                                that.bookList[command['bookTitle']] = command;
                                let outputs = JSON.parse(res[8])
                                let images = [];
                                let texts = [];
                                let files = [];
                                for (let node_id in outputs) {
                                    let node_output = outputs[node_id]
                                    if (Object.keys(node_output).indexOf("outputImg") >= 0) {
                                        for (let img of node_output?.outputImg) {
                                            let url = '../view?filename=' + img.filename + '&type=' + img.type + '&subfolder=' + img.subfolder + '&rand=' + Math.random();
                                            images.push(url)
                                            img['url'] = url;
                                            files.push(img);
                                        }
                                    } else if (Object.keys(node_output).indexOf("wechat_text") >= 0) {
                                        texts.push(...node_output.wechat_text);
                                    }

                                }
                                that.historyList.push({ 'prompt_id': res[4], 'command': command, 'images': images, 'files': files, 'status': res[5], 'texts': texts })
                            }
                        }
                        that.activeName = that.historyList[0].command['bookTitle']
                        that.bookDetailFun(that.activeName)

                        if (datas.length < 10) {
                            that.isNotData = true;
                        }
                        that.loading = false;
                    }).catch(function (error) {
                        console.log(error);
                        ElementPlus.ElMessage.error(error);
                    })
            }
        },
        setup() {

        }
    })

    // use ElementPlus and ElementPlusIconsVue
    app.use(ElementPlus)
    for (const [key, component] of Object.entries(ElementPlusIconsVue)) {
        app.component(key, component)
    }

    // use VueI18n
    const browserLanguage = navigator.language || navigator.userLanguage; // zh-CN en-US
    const languageTag = browserLanguage.split('-')[0]; // zh en
    const i18n = VueI18n.createI18n({
        legacy: false, // you must set `false`, to use Composition API
        locale: languageTag, // set locale
        fallbackLocale: 'en', // set fallback locale
        messages: {},
    })
    app.use(i18n)
    function loadLocaleMessages(locale) {
        return axios.get(`static/locales/${locale}.json`).then(response => {
            return response.data;
        });
    }
    async function loadLocales() {
        const locales = ['en', 'zh'];
        await Promise.all(
            locales.map(async (locale) => {
                const messages = await loadLocaleMessages(locale);
                i18n.global.setLocaleMessage(locale, messages);
            })
        );
    }
    loadLocales().then(() => {
        app.mount('#app');
    });
</script>

</html>